.nothing{
    height: 400px;
    background-image: url(/Milestone_1/Module_1/Images/Forest/christian-crocker-lPOLUU9tvw4-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
}



h1{
    color: brown;
    text-decoration: underline;
    text-align: center;
    
}
.s{
    /* display: none; */
    /* visibility: hidden; */
}
.earum{
    color: blueviolet;
    border: 2px solid red;
    /* display: block; */
    margin: 10px;
    display: inline-block;
    height: 40px;
}
.blog{
    margin: 20px;
    padding: 10px 5px;
    box-shadow: 4px 4px 10px navy;
}
